<ion-header>
  <ion-toolbar color="success" class="ion-text-center">
    <ion-label>Personal</ion-label>
    <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngFor="let character of characters" >
    <ion-card class="character">
      <img alt="character image" src="{{character.image}}" class="character-img" />
      <ion-card-header class="description">
        <ion-card-subtitle class="ion-text-center">Nombre: {{character.name}} </ion-card-subtitle>
        <ion-card-subtitle class="ion-text-center">id: {{character.id}} </ion-card-subtitle>
        <ion-card-subtitle class="ion-text-center">genero: {{character.gender}} </ion-card-subtitle>
        <ion-card-subtitle class="ion-text-center">origen: {{character.origin.name}} </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content class="container">
        <ion-button class="button-profile" (click)="navigation(character)">
          <ion-icon name="person" ></ion-icon>
          Perfil de empleado
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>