<ion-header>
  <ion-toolbar class="ion-padding">
    <ion-img  src="../../../assets/icon/LOGO-FABRISAC-.jpg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <h1>
      Bienvenido @Falfan
    </h1> 
  </div>
  <div class="container">
    <h3>
      PROXIMOS PEDIDOS
    </h3>
    <ion-item button (click)="presentAlert()">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../../assets/icon/ferrolusac.png" />
      </ion-thumbnail>
      <ion-label> Ferrolusac </ion-label>
      <ion-icon name="information-circle" size="small" slot="end"></ion-icon>
    </ion-item >

    <ion-item button (click)="presentAlert()" >
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../../assets/icon/concisa.png" />
      </ion-thumbnail>
      <ion-label> New Concisa </ion-label>
      <ion-icon name="information-circle" size="small" slot="end"></ion-icon>
    </ion-item>

    <ion-item button (click)="presentAlert()">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../../assets/icon/aridos.jpeg" />
      </ion-thumbnail>
      <ion-label> Aridos </ion-label>
      <ion-icon name="information-circle" size="small" slot="end"></ion-icon>
    </ion-item>
    
    <ion-item button (click)="presentAlert()">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../../assets/icon/quimica.jpeg" />
      </ion-thumbnail>
      <ion-label> Quimica del sur </ion-label>
      <ion-icon name="information-circle" size="small" slot="end"></ion-icon>
    </ion-item>  
    <h3>
      Corte frio - Laminada 
    </h3>
  </div>

  
  <div class="container-buttons">

    <ion-button  [routerLink]="['/cutters']">
      <ion-icon slot="start" name="people"></ion-icon>
      Ver Personal
    </ion-button>
    <ion-button (click)="navigation('/my-user')"> 
      <ion-icon slot="start" name="person"  ></ion-icon>
      Ver perfil
    </ion-button>
    <ion-button [routerLink]="['/intro-page']"> 
      <ion-icon expand="block" name="power" ></ion-icon>
      Cerrar sesion
    </ion-button>

  </div>
    
</ion-content>

<ion-footer>
  <small>
    © derechos reservados FABRISAC S.A.
  </small> 
</ion-footer>
