<ion-content class="ion-padding" >
  <ion-grid class="ion-padding">
    <ion-img alt="logo" src="../../assets/icon/LOGO-FABRISAC-.jpg"></ion-img>
    <ion-row>
      <ion-col align-self-center class="ion-margin-top">
        <ion-button [routerLink]="['/register']" expand="block" color="primary">Register</ion-button>
        <div class="ion-text-center ion-padding">
          <span >Ya estas registrado?</span>
        </div>
        
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <small>
    © derechos reservados fabrisac S.A.
  </small> 
</ion-footer>